<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title lang="en">Finch Scoradia | Tools for Better Living</title>
    <meta name="description" content="Finch Scoradia is a data-driven private firm focused on building quality, authentic solutions for better living.">
    <meta name="author" content="Bernard Ojengwa">
    <meta name="google-site-verification" content="nnaAosU6sAxE_OpCrYCMRumNNfBa-KCTfDNg6W-IpmM" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="Tools for Better Living." />
    <meta property="og:site_name"   content="Finch Scoradia"/>
    <meta property="og:url"         content="http://www.finch.work" />
    <meta property="og:image"       content="http://www.finch.work/assets/images/white.png" />
    <meta property="og:description" content="Finch Scoradia is a data-driven private firm focused on building quality, authentic solutions for better living." />
    <meta property="fb:app_id"      content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/png">
    <link rel="shortcut icon" href="/images/black.png">
    <link rel="apple-touch-icon" href="/images/black.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/black.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/black.png">
    

    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,500,600,600i,800,900&display=swap" rel="stylesheet">

    <!-- Load CSS -->
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

    <!-- Preloader -->
    <div id="preloader">
  	   <div id="status">
         <div class = "centered">
        	<div class = "blob-1"></div>
        	<div class = "blob-2"></div>
        </div>
       </div>
  	</div>

    <div class="nav-toggler">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <aside class="nav-sidebar">
      <nav class="nav one-page-nav flex-column">
        <a class="nav-link external" href="/"><i class="fas fa-home"></i> home</a>
        <a class="nav-link active" href="/us"><i class="fas fa-users"></i> who we are</a>
        <a class="nav-link external" href="/services"><i class="fas fa-project-diagram"></i> what we do</a>
        <a class="nav-link external" href="/contact"><i class="fas fa-hands-helping"></i> talk to us</a>
      </nav>
    </aside>

    <div class="wrapper">

      <header class="nav-style-2">
        <nav class="pl-lg-5 pt-lg-3 navbar navbar-light">
          <a class="navbar-brand" href="/">
            <img src="/images/logo-light.png" style="max-width: 60px;height:auto" alt="Logo">
          </a>
        </nav>
      </header>

    <!-- Main Content -->
    <main>

      <!-- Breadcrumb -->
      <section id="breadcrumb" class="bg-primary text-center text-white">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="title-text top-page-title">
                <h3>Brilliant thinkers making brilliantly simple tools for better living.</h3>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About -->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
              <h3 class="mb-1 mt-3">We build brands!</h3>
              <p class="lead">Transform and boost your business through the power of creativity.</p>
            </div>
            <div class="offset-md-1 col-lg-5" data-aos="fade-left" data-aos-delay="300">
              <p class="lead">We are a remote-first Internet Engineering cohort.<br> Are you looking to stand out?</p>
              <p>We plan, design and develop high perfomance websites. Transform and boost your business through the power of creativity.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Manifesto -->
      <div id="services" class="text-center">
        <div class="container">
          <div class="row text-center mb-3">
            <div class="col">
              <h3 class="text-primary mt-1">Our Manifesto</h3>
          </div>
          <div class="row">
            <!-- Service Item 1 -->
            <div class="col-lg-6" data-aos="fade-up">
              <div class="service service-style-1">
                <svg version="1.1" id="svg-icon-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="48px" height="48px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                  <rect x="1" y="16" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="52" height="40"/>
                </g>
                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="10,14 10,8 63,8 63,48 55,48 "/>
                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="1,46 15,32 29,48 39,42 53,54 "/>
                <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="40" cy="29" r="5"/>
                </svg> 
                <h5 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">client success.</h5>
                <span class="service-text">A new business is always exciting and intimidating but it comes with challenges too. We combine our experiences with your idea to help bring your MVP to life.</span>
              </div>
            </div>
            <!-- Service Item 2 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service service-style-1">
                <svg version="1.1" id="svg-icon-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="48px" height="48px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="16" y1="24" x2="38" y2="24"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="16" y1="34" x2="38" y2="34"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="16" y1="44" x2="38" y2="44"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="16" y1="54" x2="38" y2="54"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="24" x2="8" y2="24"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="34" x2="8" y2="34"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="44" x2="8" y2="44"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="54" x2="8" y2="54"/>
                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="14,8 1,8 1,63 45,63 45,8 32,8 "/>
                <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="27,5 27,1 19,1 19,5 15,5 13,13 33,13 31,5 
                  "/>
                <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="55,1 55,54 59,62 63,54 63,1 "/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="55" y1="11" x2="63" y2="11"/>
                </svg> 
                <h5 data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">living products</h5>
                <span class="service-text">We design solutions that meets your business needs. Our clean design, easy to use and feature rich application seamlessly integrates into your business environment.</span>
              </div>
            </div>
            <!-- Service Item 3 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service service-style-1">
                <svg version="1.1" id="svg-icon-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="48px" height="48px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <rect x="1" y="7" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="62" height="50"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="15" x2="63" y2="15"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="10" y1="11" x2="6" y2="11"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="18" y1="11" x2="14" y2="11"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="26" y1="11" x2="22" y2="11"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="6" y1="25" x2="33" y2="25"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="6" y1="33" x2="33" y2="33"/>
                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="6" y1="41" x2="33" y2="41"/>
                <rect x="38" y="25" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="19" height="16"/>
                </svg> 
                <h5 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">open source.</h5>
                <span class="service-text">Open source lead the innovation with a simple objective to offer - freedom, choice and security. We help organisations make the most of open source ecosystem.</span>
              </div>
            </div>
            <!-- Service Item 4 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service service-style-1">
                <svg version="1.1" id="svg-icon-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="48px" height="48px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="26,49.042 54.963,49.042 54.963,11.042 
                  1,11.042 1,49.042 14,49.042 14,59.486 "/>
                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="57,41.042 62.963,41.042 62.963,3.042 
                  9,3.042 9,9 "/>
                </svg>   
                <h5 data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">continual feedback.</h5>
                <span class="service-text">We develop unique solutions and create value by addressing your business complexity and challenges through sustainable innovation, creative thinking, and constant feedback.</span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Team -->
      <section id="team" class="text-center">
        <div class="container">
          <div class="row mb-3">
            <div class="col">
              <h3 class="mt-1">Our Leads</h3>
            </div>
          </div>
          <div class="row">
            <!-- Team Member 1 -->
            <div class="col-lg-4"  data-aos="fade-up" data-aos-delay="0">
              <div class="team-member">
                <img src="images/lydia.jpg" style="max-width: 200px; height:auto" class="rounded-circle" alt="Team member">
                <div class="member-social">
                  <a href="https://twitter.com/iruo_lydia" class="btn btn-twitter btn-circle"></a>
                  <a href="https://github.com/lydiaIruo" class="btn btn-github btn-circle"></a>
                  <a href="https://www.linkedin.com/in/oboidhe-lydia-iruoghene-15a1a597/" class="btn btn-linkedin btn-circle"></a>
                </div>
                <h6 class="member-name">Lydia</h6>
                <span class="member-title">Boss, Chief Success Officer.</span>
              </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="team-member">
                <img src="images/ash.png" style="max-width: 200px; height:auto" class="rounded-circle" alt="Team member">
                <div class="member-social">
                  <a href="https://twitter.com/FinchScoradia" class="btn btn-twitter btn-circle"></a>
                  <a href="https://github.com/scoradia" class="btn btn-github btn-circle"></a>
                  <a href="https://www.linkedin.com/company/finch-scoradia-ltd./" class="btn btn-linkedin btn-circle"></a>
                </div>
                <h6 class="member-name">Ash</h6>
                <span class="member-title">Cool Cat, Happiness Guru</span>
              </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="team-member">
                <img src="images/bernard.png" style="max-width: 200px; height:auto"  class="rounded-circle" alt="Team member">
                <div class="member-social">
                  <a href="https://twitter.com/bernardojengwa" class="btn btn-twitter btn-circle"></a>
                  <a href="https://github.com/ojengwa" class="btn btn-github btn-circle"></a>
                  <a href="https://www.linkedin.com/in/ojengwa" class="btn btn-linkedin btn-circle"></a>
                </div>
                  <h6 class="member-name">Bernard</h6>
                <span class="member-title">Chief Architect</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Brands -->
      <section id="brands" class="bg-light-grey text-dark text-center py-5" style="vertical-align: middle;">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="hide">Brands</h2>
              <!-- Brands Carousel -->
              <div id="owl-brands" class="owl-carousel owl-theme">
                <!-- Brand Item 1 -->
                <div class="item brand" data-aos="flip-down">
                  <img src="/images/logos/white1.png" style="max-height: 50px; max-width: 50px" alt="" />
                </div>
                <!-- Brand Item 2 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="100">
                  <img src="/images/logos/white2.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 3 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="150">
                  <img src="/images/logos/white3.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 4 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="200">
                  <img src="/images/logos/white4.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 5 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white5.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 6 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white6.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 7 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white8.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 8 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white7.png" style="max-height: 50px; max-width: 50px" alt="" />
                </div>
              </div><!-- / Brands Carousel -->
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Footer -->
    <footer id="footer" class="pt-4 pb-80">
      <div class="container-fluid">
        <div class="row">
          <!-- Contact Info -->
          <div class="offset-lg-1 col-lg-4">
            <img src="/images/logo.png" style="max-width: 60px; height:auto;" alt="">
            <p class="mt-15">Finch is a boutique software firm focused on building quality, authentic solutions for better living.</p>
          </div>
          <!-- Our Services-->
          <div class="offset-lg-1 col-lg-5 text-right footer-info">
            <h5>&nbsp;</h5>
            <div class="social-icons">
              <a href="https://www.linkedin.com/company/finch-scoradia-ltd./" class="btn btn-linkedin btn-circle"></a>
              <a href="https://github.com/scoradia" class="btn btn-github btn-circle"></a>
              <a href="https://web.facebook.com/Finch-Scoradia-Inc-1592471524115959/" class="btn btn-facebook btn-circle"></a>
              <a href="https://twitter.com/FinchScoradia" class="btn btn-twitter btn-circle"></a>
            </div>
          </div>
        </div>
			</div>
    </footer>

    <!-- Copyrights & Social Icons -->
    <section id="copyright" class="py-2 bg-primary text-center text-white">
      <div class="container">
        <div class="row ">
          <div class="col">
            <h3 class="hide">Copyrights</h3>
            <span class="copyright">Crafted with <span class="secondary">&hearts;</span> in São Tomé</span>
          </div>
        </div>
      </div>
    </section>

    </div><!-- /.wrapper-->

    <div class="back-to-top">
    	<a class="backToTop" href="#wrapper"><i class="fas fa-chevron-up"></i></a>
    </div>

    <!-- Load Scripts -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/magnific-popup.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/infinite-scroll.pkgd.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/single-page-nav.js"></script>
    <script src="/js/custom.js"></script>

  </body>
</html>
