<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title lang="en">Finch Scoradia | Tools for Better Living</title>
  <meta name="description"
    content="Finch Scoradia is a data-driven private firm focused on building quality, authentic solutions for better living.">
  <meta name="author" content="Bernard Ojengwa">
  <meta name="google-site-verification" content="nnaAosU6sAxE_OpCrYCMRumNNfBa-KCTfDNg6W-IpmM" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Tools for Better Living." />
  <meta property="og:site_name" content="Finch Scoradia" />
  <meta property="og:url" content="http://www.finch.work" />
  <meta property="og:image" content="http://www.finch.work/assets/images/white.png" />
  <meta property="og:description"
    content="Finch Scoradia is a data-driven private firm focused on building quality, authentic solutions for better living." />
  <meta property="fb:app_id" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/png">
  <link rel="shortcut icon" href="/images/black.png">
  <link rel="apple-touch-icon" href="/images/black.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/black.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/black.png">


  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,500,600,600i,800,900&display=swap"
    rel="stylesheet">

  <!-- Load CSS -->
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">
      <div class="centered">
        <div class="blob-1"></div>
        <div class="blob-2"></div>
      </div>
    </div>
  </div>

  <div class="nav-toggler">
    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <aside class="nav-sidebar">
    <nav class="nav one-page-nav flex-column">
      <a class="nav-link active" href="/"><i class="fas fa-home"></i> home</a>
      <a class="nav-link external" href="/us"><i class="fas fa-users"></i> who we are</a>
      <a class="nav-link external" href="/services"><i class="fas fa-project-diagram"></i> what we do</a>
      <a class="nav-link external" href="/contact"><i class="fas fa-hands-helping"></i> talk to us</a>
    </nav>
  </aside>

  <div class="wrapper">

    <header class="nav-style-2">
      <nav class="pl-lg-5 pt-lg-3 navbar navbar-light">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" style="max-width: 60px;height:auto" alt="Logo">
        </a>
      </nav>
    </header>

    <!-- Main Content -->
    <main>

      <!-- Hero -->
      <section id="hero" class="hero-style-4 d-flex align-content-center min-vh-100 align-items-center">
        <img class="hero-background d-none d-xl-block" src="/images/blue-bg.svg" alt="Background SVG">
        <div class="container-fluid">
          <div class="row">
            <div class="offset-lg-2 col-lg-3 mb-5 align-self-center">
              <div class="card">
                <img src="/images/main.svg" class="img-fluid d-xl-none d-md-none mt-5" alt="Hero Image">
                <h3 class="text-primary">Bring your ideas, <br>we do the rest!</h3>
                <p class="lead">We help companies and startups from all over the world materialize their ideas into
                  great projects.</p>
                <a href="/contact" class="btn btn-gradient btn-large">Request for a qoute</a>
              </div>
            </div>
            <div class="col-lg-7">
              <img src="/images/main.svg" class="img-fluid d-none d-md-block d-xl-block" alt="Hero Image">
            </div>
          </div>
        </div>
      </section>

      <!-- Brands -->
      <section id="brands" class="bg-light-grey text-dark text-center py-5" style="vertical-align: middle;">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="hide">Brands</h2>
              <!-- Brands Carousel -->
              <div id="owl-brands" class="owl-carousel owl-theme">
                <!-- Brand Item 1 -->
                <div class="item brand" data-aos="flip-down">
                  <img src="/images/logos/white1.png" style="max-height: 50px; max-width: 50px" alt="" />
                </div>
                <!-- Brand Item 2 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="100">
                  <img src="/images/logos/white2.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 3 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="150">
                  <img src="/images/logos/white3.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 4 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="200">
                  <img src="/images/logos/white4.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 5 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white5.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 6 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white6.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 7 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white8.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 8 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white7.png" style="max-height: 50px; max-width: 50px" alt="" />
                </div>
              </div><!-- / Brands Carousel -->
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Footer -->
    <footer id="footer" class="pt-4 pb-80">
      <div class="container-fluid">
        <div class="row">
          <!-- Contact Info -->
          <div class="offset-lg-1 col-lg-4">
            <img src="/images/logo.png" style="max-width: 60px; height:auto;" alt="">
            <p class="mt-15">Finch is a boutique software firm focused on building quality, authentic solutions for
              better living.</p>
          </div>
          <!-- Our Services-->
          <div class="offset-lg-1 col-lg-5 text-right footer-info">
            <h5>&nbsp;</h5>
            <div class="social-icons">
              <a href="https://www.linkedin.com/company/finch-scoradia-ltd./" class="btn btn-linkedin btn-circle"></a>
              <a href="https://github.com/scoradia" class="btn btn-github btn-circle"></a>
              <a href="https://web.facebook.com/Finch-Scoradia-Inc-1592471524115959/"
                class="btn btn-facebook btn-circle"></a>
              <a href="https://twitter.com/FinchScoradia" class="btn btn-twitter btn-circle"></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Copyrights & Social Icons -->
    <section id="copyright" class="py-2 bg-primary text-center text-white">
      <div class="container">
        <div class="row ">
          <div class="col">
            <h3 class="hide">Copyrights</h3>
            <span class="copyright">Crafted with <span class="secondary">&hearts;</span> in São Tomé</span>
          </div>
        </div>
      </div>
    </section>

  </div><!-- /.wrapper-->

  <div class="back-to-top">
    <a class="backToTop" href="#wrapper"><i class="fas fa-chevron-up"></i></a>
  </div>

  <!-- Load Scripts -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/counter.js"></script>
  <script src="/js/anime.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/magnific-popup.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/infinite-scroll.pkgd.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/single-page-nav.js"></script>
  <script src="/js/custom.js"></script>
  <script src="//code.tidio.co/kkgk2nzcimx9z3ntuq97xfkvkw3ie6kh.js" async></script>
</body>

</html>