<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title lang="en">Finch Scoradia | Tools for Better Living</title>
    <meta name="description" content="Finch Scoradia is a data-driven private firm focused on building quality, authentic solutions for better living.">
    <meta name="author" content="Bernard Ojengwa">
    <meta name="google-site-verification" content="nnaAosU6sAxE_OpCrYCMRumNNfBa-KCTfDNg6W-IpmM" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="Tools for Better Living." />
    <meta property="og:site_name"   content="Finch Scoradia"/>
    <meta property="og:url"         content="http://www.finch.work" />
    <meta property="og:image"       content="http://www.finch.work/assets/images/white.png" />
    <meta property="og:description" content="Finch Scoradia is a data-driven private firm focused on building quality, authentic solutions for better living." />
    <meta property="fb:app_id"      content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/png">
    <link rel="shortcut icon" href="/images/black.png">
    <link rel="apple-touch-icon" href="/images/black.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/black.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/black.png">
    

    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,500,600,600i,800,900&display=swap" rel="stylesheet">

    <!-- Load CSS -->
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

    <!-- Preloader -->
    <div id="preloader">
  	   <div id="status">
         <div class = "centered">
        	<div class = "blob-1"></div>
        	<div class = "blob-2"></div>
        </div>
       </div>
  	</div>

    <div class="nav-toggler">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <aside class="nav-sidebar">
      <nav class="nav one-page-nav flex-column">
        <a class="nav-link external" href="/"><i class="fas fa-home"></i> home</a>
        <a class="nav-link external" href="/us"><i class="fas fa-users"></i> who we are</a>
        <a class="nav-link active" href="/services"><i class="fas fa-project-diagram"></i> what we do</a>
        <a class="nav-link external" href="/contact"><i class="fas fa-hands-helping"></i> talk to us</a>
      </nav>
    </aside>

    <div class="wrapper">

      <header class="nav-style-2">
        <nav class="pl-lg-5 pt-lg-3 navbar navbar-light">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.png" style="max-width: 60px;height:auto" alt="Logo">
          </a>
        </nav>
      </header>

    <!-- Main Content -->
    <main>

     
      <!-- Services -->
      <section id="services" class="text-center">
        <div class="container">
          <div class="row text-center mb-3">
            <div class="col">
              <h3 class="mt-1">Our Services</h3>
              <h6 class="text-primary mb-3">We create successful, innovative digital products.</h6>
            </div>
          </div>
          <div class="row mb-3"></div>
          <div class="row">
            <!-- Service Item 1 -->
            <div class="col-lg-4" data-aos="fade-up">
              <div class="service service-style-1">
                <h5 class="service-title">Web Apps.</h5>
                <span class="service-text">Internet bring a whole new perspective of getting things done. Cloud based application enable your organisation and customers to interact on business transaction more effectively in less time.</span>
              </div>
            </div>
            <!-- Service Item 2 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="service service-style-1">
                <h5 class="service-title">Mobile Apps</h5>
                <span class="service-text">Building an engaging mobile apps development, getting people to download and use it is require expertise on specific skill. At Finch, we offer Android and iOS native and hybrid mobile app development.</span>
              </div>
            </div>
            <!-- Service Item 3 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="service service-style-1">
                <h5 class="service-title">Ecommerce</h5>
                <span class="service-text">Internet and cloud together enable a new channel to business which increased the sales in multi fold. ECommerce add much more value and boost your business growth when it is strategically implemented.</span>
              </div>
            </div>
            <!-- Service Item 4 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="service service-style-1">
                <h5 class="service-title">Consulting Services</h5>
                <span class="service-text">To meet the demands of a competitive marketplace, today business need an technology expert to define, create and enable a structural roadmap to simplify process and operational challenges.</span>
              </div>
            </div>
            <!-- Service Item 3 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="service service-style-1">
                <h5 class="service-title">ERP Implementation</h5>
                <span class="service-text">For operational efficiency and meet business objective, organisation needs a platform where all stake holder execute task effectively. We leverage entreprise-grade solutions to simplify your business processes and customer engagement.</span>
              </div>
            </div>
            <!-- Service Item 3 -->
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="service service-style-1">
                <h5 class="service-title">Functional Websites</h5>
                <span class="service-text">A public facing website built on static HTML can turn out to be a liability for your business and it creates an unwanted overheads. We empower your website and portal with enterprise grade CMS framework.</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Works -->
      <div id="works" class="text-center">
        <div class="container">
          <div class="row mb-3">
            <div class="col">
              <h5 class="text-primary mb-3">Portfolio</h5>
              <h3 class="mt-1">Our Latest Works</h3>
            </div>
          </div>
          <div class="row">
            <div class="col" data-aos="fade-up">
              <!-- Works Filter -->
              <div class="works-filter">
                <a href="javascript:void(0)" title="All" data-filter="*" class="btn btn-primary btn-medium filter transition">All</a>
                <a href="javascript:void(0)" class="btn btn-medium filter transition" title="Branding" data-filter=".branding">Healthtech</a>
                <a href="javascript:void(0)" class="btn btn-medium filter transition" title="Design" data-filter=".design">Fintech</a>
                <a href="javascript:void(0)" class="btn btn-medium filter transition" title="Development" data-filter=".development">SaaS</a>
                <a href="javascript:void(0)" class="btn btn-medium filter transition" title="Development" data-filter=".development">Security</a>
                <a href="javascript:void(0)" class="btn btn-medium filter transition" title="Development" data-filter=".development">Fantasy Sports</a>
              </div>
              <!-- Works Grid -->
              <div class="works-grid--3cols">
                <!-- Work Item 1 -->
                <div class="work-item branding">
                  <div class="work-container">
                    <img src="images/neu.png" alt="Project Preview">
                    <!-- <a class="work-mask mfp-iframe" href="https://www.youtube.com/watch?v=Scxs7L0vhZ4?autoplay=1"> -->
                    <a class="work-mask" href="images/neu.png">
                      <div class="work-details">
                        <h5 class="work-title">Neu</h5>
                        <span class="work-description">SaaS</span>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Work Item 2 -->
                <div class="work-item development">
                  <div class="work-container">
                    <img src="images/smsfoo.png" alt="Project Preview">
                    <a class="work-mask" href="images/smsoo.png">
                      <div class="work-details">
                        <h5 class="work-title">SMSFoo</h5>
                        <span class="work-description">SaaS</span>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Work Item 3 -->
                <div class="work-item design">
                  <div class="work-container">
                    <img src="images/inform.png" alt="Project Preview">
                    <a class="work-mask" href="images/inform.png">
                      <div class="work-details">
                        <h5 class="work-title">Inform</h5>
                        <span class="work-description">Security</span>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Work Item 4 -->
                <div class="work-item design">
                  <div class="work-container">
                    <img src="images/lendaly.png" alt="Project Preview">
                    <a class="work-mask" href="images/lendaly.png">
                      <div class="work-details">
                        <h5 class="work-title">Lendaly</h5>
                        <span class="work-description">Fintech</span>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Work Item 5 -->
                <div class="work-item development">
                  <div class="work-container">
                    <img src="images/automata.png" alt="Project Preview">
                    <a class="work-mask" href="images/automata.png">
                      <div class="work-details">
                        <h5 class="work-title">Automata Science</h5>
                        <span class="work-description">Security</span>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- Work Item 6 -->
                <div class="work-item branding">
                  <div class="work-container">
                    <img src="images/solundu.png" alt="Project Preview">
                    <a class="work-mask" href="images/solundu.png">
                      <div class="work-details">
                        <h5 class="work-title">Solundu</h5>
                        <span class="work-description">Branding</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Achievements -->
      <section id="achievements" class="px-lg-5">
        <div class="container-fluid">
          <div class="row">
            <div class="offset-lg-1 col-lg-4 pr-lg-5 align-self-center" data-aos="fade-right">
              <h5 class="text-primary mb-3">We are proud</h5>
              <h3 class="mt-1">What we have achieved so far</h3>
            </div>
            <!-- Counter 1 -->
            <div class="col-lg-2 align-self-center">
              <div data-aos="zoom-in" data-aos-delay="0">
                <div class="counter counter-primary">
                  <span class="timer" data-from="1" data-to="134" data-speed="3000"></span>
                  <h6 class="timer-title">Projects done</h6>
                </div>
              </div>
            </div>
            <!-- Counter 2 & 3 -->
            <div class="col-lg-2 align-self-center">
              <div data-aos="zoom-in" data-aos-delay="100">
                <div class="counter counter-primary">
                  <span class="timer" data-from="1" data-to="11" data-speed="3000"></span>
                  <h6 class="timer-title">Experts</h6>
                </div>
              </div>
              <div data-aos="zoom-in" data-aos-delay="200">
                <div class="counter counter-primary">
                  <span class="timer" data-from="1" data-to="4" data-speed="3000"></span>%
                  <h6 class="timer-title">Customer Churn</h6>
                </div>
              </div>
            </div>
            <!-- Counter 4 -->
            <div class="col-lg-2 align-self-center">
              <div data-aos="zoom-in" data-aos-delay="300">
                <div class="counter counter-primary">
                  <span class="timer" data-from="1" data-to="25" data-speed="3000"></span>yrs
                  <h6 class="timer-title">Logged <sup>*</sup></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA -->
      <section id="cta" class="bg-primary pt-120 pb-120 text-white text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5 class="mb-3">Be Awesome</h5>
              <h3 class="mt-1">Launch your product the right way with Finch!</h3>
              <a class="btn btn-white btn-large" href="/contact">Get started</a>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Brands -->
      <section id="brands" class="bg-light-grey text-dark text-center py-5" style="vertical-align: middle;">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="hide">Brands</h2>
              <!-- Brands Carousel -->
              <div id="owl-brands" class="owl-carousel owl-theme">
                <!-- Brand Item 1 -->
                <div class="item brand" data-aos="flip-down">
                  <img src="/images/logos/white1.png" style="max-height: 50px; max-width: 50px" alt="" />
                </div>
                <!-- Brand Item 2 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="100">
                  <img src="/images/logos/white2.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 3 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="150">
                  <img src="/images/logos/white3.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 4 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="200">
                  <img src="/images/logos/white4.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 5 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white5.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 6 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white6.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 7 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white8.png" style="max-height: 50px;" alt="" />
                </div>
                <!-- Brand Item 8 -->
                <div class="item brand" data-aos="flip-down" data-aos-delay="250">
                  <img src="/images/logos/white7.png" style="max-height: 50px; max-width: 50px" alt="" />
                </div>
              </div><!-- / Brands Carousel -->
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Footer -->
    <footer id="footer" class="pt-4 pb-80">
      <div class="container-fluid">
        <div class="row">
          <!-- Contact Info -->
          <div class="offset-lg-1 col-lg-4">
            <img src="/images/logo.png" style="max-width: 60px; height:auto;" alt="">
            <p class="mt-15">Finch is a boutique software firm focused on building quality, authentic solutions for better living.</p>
          </div>
          <!-- Our Services-->
          <div class="offset-lg-1 col-lg-5 text-right footer-info">
            <h5>&nbsp;</h5>
            <div class="social-icons">
              <a href="https://www.linkedin.com/company/finch-scoradia-ltd./" class="btn btn-linkedin btn-circle"></a>
              <a href="https://github.com/scoradia" class="btn btn-github btn-circle"></a>
              <a href="https://web.facebook.com/Finch-Scoradia-Inc-1592471524115959/" class="btn btn-facebook btn-circle"></a>
              <a href="https://twitter.com/FinchScoradia" class="btn btn-twitter btn-circle"></a>
            </div>
          </div>
        </div>
			</div>
    </footer>

    <!-- Copyrights & Social Icons -->
    <section id="copyright" class="py-2 bg-primary text-center text-white">
      <div class="container">
        <div class="row ">
          <div class="col">
            <h3 class="hide">Copyrights</h3>
            <span class="copyright">Crafted with <span class="secondary">&hearts;</span> in São Tomé</span>
          </div>
        </div>
      </div>
    </section>

    </div><!-- /.wrapper-->

    <div class="back-to-top">
    	<a class="backToTop" href="#wrapper"><i class="fas fa-chevron-up"></i></a>
    </div>

    <!-- Load Scripts -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/magnific-popup.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/infinite-scroll.pkgd.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/single-page-nav.js"></script>
    <script src="/js/custom.js"></script>

  </body>
</html>
